src/main/java/wsdl/AuthenticateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="AuthenticateService"
             xmlns:tns="http://example.com/authenticate"
             targetNamespace="http://example.com/authenticate">

    <types>
        <xsd:schema targetNamespace="http://example.com/authenticate">
            <xsd:element name="Credentials">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="username" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="token" type="xsd:boolean"/>
        </xsd:schema>
    </types>

        <portType name="AuthenticationPortType">
            <operation name="authenticate">
                <input message="tns:AuthenticateRequest"/>
                <output message="tns:AuthenticateResponse"/>
            </operation>
        </portType>

        <message name="AuthenticateRequest">
            <part name="Credentials" element="tns:Credentials"/>
        </message>

        <message name="AuthenticateResponse">
            <part name="token" element="tns:token"/>
        </message>

        <binding name="AuthenticationBinding" type="tns:AuthenticationPortType">
            <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
            <operation name="authenticate">
                <soap:operation soapAction="authenticate"/>
                <input>
                    <soap:body use="literal"/>
                </input>
                <output>
                    <soap:body use="literal"/>
                </output>
            </operation>
        </binding>

    <service name="AuthenticateService">
        <port name="AuthenticationPort" binding="tns:AuthenticationBinding">
            <soap:address location="http://example.com/authentication"/>
        </port>
    </service>

</definitions>